@layout('layout')
@section('content')
<div id="wrapper">
  @include('nav')
  <div id="page-wrapper">
    <iframe src="/dashboard" frameborder="0" id="iframe-wrapper" name="iframe-wrapper" style="width:100%;"></iframe>
  </div>
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
  requirejs(['/js/config.js'], function () {
    requirejs(['cmsui'], function (cmsui) {

    });
  });
</script>
@endsection
