<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    @section('title')
    sui3-cms
    @endsection
  </title>
  {{ css('css/common') }}
  {{ script('js/require') }}
</head>
<body>
<div id="wrapper">
  @include('nav')
  @!section('content')
</div>
<!-- /#wrapper -->
</body>
</html>
