<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script>

  var arr = [ { goods_attr_value: 'bb', attr_id: 1, goods_id: 9 },
    { goods_attr_value: 'xzc', attr_id: 2, goods_id: 9 },
    { goods_attr_value: null, attr_id: 3, goods_id: 9 },
    { goods_attr_value: null, attr_id: 4, goods_id: 9 } ];

  var data = [];
  arr.forEach(val=>{
    val.id = 10
    data.push(val);
  })
  console.log(data)


</script>
</body>
</html>
