<form action="">

<input type="checkbox" name="test[]" value="1">
<input type="checkbox" name="test[]" checked value="2">
<input type="checkbox" name="test[]" value="3">
<input type="checkbox" name="test[]" value="4">
<input type="checkbox" name="test[]" value="5">
<bottom id="click">click</bottom>
</form>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>

$(function(){
  $('#click').click(function(){
    //console.log($("input:checkbox[name='test']:checked").val())
    console.log($("input[name='test']:checked").length)
  });
  

})

</script>
