# Node modules
node_modules

# Adonis directory for storing tmp files
tmp
uploads

# Environment variables, never commit this file
.env
config/database.js

# Lock files
package-lock.json
yarn.lock

# The development sqlite file
database/development.sqlite

# webstorm dev file
.idea

# all .DS_Store
.DS_Store
*/.DS_Store
